@use '../helpers/' as *;

.list {
  display: grid;
  grid-template-columns:  auto 800px;
  gap: 40px;
  grid-template-areas: 
  'day diag'
  'long diag'
  'week week';
  
  &__item {
    border: var(--border);
    padding: rem(15) rem(20);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
  }
}