@use '../../styles/helpers' as *;

.diagram {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-weight: 500;
    font-size: fluid(25, 14);
    color: var(--color-blue);
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}

.diagram__image .line {
  stroke: var(--color-blue) !important;
  fill: none !important;
}

.diagram__image .area {
  stroke: none;
  fill: url(#area-gradient);
}

.temp-label {
  text-anchor: middle;
  fill: var(--color-blue);
  font-size: 14px;
  pointer-events: none;
}