@use 'sass:math';

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.'
  }
}

@function fluid($max: 100, $min: 10, $max-vw: 1920, $min-vw: 390) {
  $max-size: math.div($max, 16);
  $min-size: math.div($min, 16);
  
  $max-vw-rem: math.div($max-vw, 16);
  $min-vw-rem: math.div($min-vw, 16);
  
  $slope: math.div(($max-size - $min-size), ($max-vw-rem - $min-vw-rem));
  $y-axis-intersection: -$min-vw-rem * $slope + $min-size;
  
  @return clamp(
    #{$min-size}rem,
    #{$y-axis-intersection}rem + #{$slope * 100}vw,
    #{$max-size}rem
  );
}


@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else  {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
position: absolute;
top: 50%;
left: 50%;
translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
  }