@font-face {
  font-family: 'Nato Sans';
  src: url('../assets/fonts/NotoSans-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Nato Sans';
  src: url('../assets/fonts/NotoSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
