@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  font-size: fluid(18, 14);
  font-family: var(--font-family-base), serif;
  letter-spacing: -0, 03em;
  color: var(--color-dark);
  background-color: var(--color-light-pur);

  display: flex;
  flex-direction: column;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  color: var(--color-light);
  font-weight: 700;
}

h1,
.h1 {
  font-size: fluid(70, 30);
  line-height: 1.2;
}

h2,
.h2 {
  font-size: fluid(58, 24);
  line-height: 1.3;
}

h3,
.h3 {
  font-size: fluid(40, 24);
}

h4,
.h4 {
  font-size: fluid(19, 12);
  font-weight: 700;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit; /** наследуем от body */

  // @include hover {
  //     color: var(--color-accent);
  // }
  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

/* Для увеличения области клика */
a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
}
