@use 'helpers' as *;

:root {
  --color-dark: #141414;
  --color-light: #fff;
  --color-purpur: #a0acfb;
  --color-blue: #424d8d;
  --color-light-pur: #f8f8ff;
  --color-search: rgba(186, 174, 214, 255);
  --hover-color: rgba(148, 138, 188, 255);
  --active-color: #696b9b;

  --container-width: 1500px;
  --container-padding-x: 30px;

  --font-family-base: 'Nato Sans', sans-serif;

  --transition-duration: 0.2s;

  --border: rem(1) solid #baaed6;
  --border-radius: 40px;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
