@use '../../styles/helpers' as *;
@use '../../styles/media' as *;

.week {
  display: flex;
  justify-content: space-between;

  &__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    &:not(:last-child) {
      border-right: var(--border);
      border-color: var(--color-blue);
    }
  }

  &__day {
    text-align: center;
  }

  &__temp {
    text-align: center;
    font-size: fluid(20, 10);
  }
}