@use '../../styles/helpers' as *;

.climate-stats {
  height: 100%;
  color: var(--color-light);
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: baseline;
  position: relative;

  .climate-stat {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__label {
      font-weight: 500;
      margin-bottom: auto;
      align-self: flex-start;
      font-size: fluid(25, 14);
    }

    &:nth-child(2) {
      .climate-stat__value {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
