@use '../../styles/helpers' as *;

.rainfall-summary {
  background: linear-gradient(.25turn, var(--color-purpur), var(--color-blue));

}

.climate-stats {
  height: 100%;
  color: var(--color-light);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1.5rem;
  align-items: baseline; // Изменено с start на baseline
  position: relative;

  .climate-stat {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__label {
      font-weight: 500;
      margin-bottom: auto;
      align-self: flex-start;

    }

    &:nth-child(1) {
      .climate-stat__label {
        font-size: rem(30);
      }
      .climate-stat__value {
        font-size: rem(25);
      }
    }

    // Добавляем стили для второго элемента
    &:nth-child(2) {
      .climate-stat__value {
        position: absolute;
        bottom: 0;
      }
    }
  }
}